<div class="container-fluid profile p-0">

    <div class="banner">
        <div class="banner-line"></div>
    </div>

    <div class="porfile-body container my-5 p-4 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col p-4 mx-auto">
                    <div class="row">
                        <div class="col-12 mb-5 d-flex justify-content-center">
                            <div class="img-box border">
                                <img [src]="profilePic" alt="">
                            </div>
                        </div>
                        <div class="col-12">
                            <h3 class=""><b>{{ currentUser?.name }}</b></h3>
                            <hr>
                            <div class="row mb-2">
                                <div class="col-6">
                                    <h5>อีเมล : {{ currentUser?.email }}</h5>
                                </div>
                                <div class="col-6">
                                    <h5>เบอร์โทร : {{ currentUser?.phoneNumber }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ currentUser?.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <h3 class="my-3"><b>ข้อมูลที่อยู่</b></h3>
                <div class="row mb-2">
                    <div class="col-12">
                        ที่อยู่ : {{ currentUser?.address?.houseNo }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        แขวง/ตำบล : {{ currentUser?.address?.district }}
                    </div>
                    <div class="col-6">
                        เขต/อำเภอ : {{ currentUser?.address?.subDistrict }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        จังหวัด : {{ currentUser?.address?.province }}
                    </div>
                    <div class="col-6">
                        รหัสไปรษณีย์ : {{ currentUser?.address?.country }}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        ประเทศ : {{ currentUser?.address?.zipCode }}
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>