<div class="container-fluid main p-0">

    <div class="header d-flex justify-content-center align-items-center">
        <div class="circleL2"></div>
        <div class="circleL1"></div>
        <div class="circleR1"></div>
        <div class="circleR2"></div>
        <div class="content p-5 container">
            <h1 class="title"><span>NVC</span> Job Market</h1>
            <div class="container search-box">
                <form class="d-flex justify-content-center" [formGroup]="searchForm">
                    <input class="search-text form-control" placeholder="ค้นหางาน" type="text" formControlName="title">
                    <button class="btn-search" (click)="onSearch()">ค้นหา</button>
                </form>
            </div>
            <div class="container btn-box">
                <a href="#about" class="btn-view">ดูเพิ่มเติม</a>
            </div>
        </div>
    </div>

    <div class="container about my-5 py-5" id="about">

        <div class="about-content border my-5 p-5 h-100">
            <div class="about-circle"></div>
            <div class="position-relative">
                <h1>เกี่ยวกับเว็บไซต์</h1>
                <h3 class="my-4">NVC Job Market</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="mb-5 about-body">
                            เป็นเว็บไซต์ที่จัดทำขึ้นสำหรับ <span>นักศึกษา</span>ที่ต้องการหางาน และ
                            สำหรับ<br><span>สถานประกอบการ</span> หรือ <span>บริษัท</span> ที่ต้องการหาพนักงาน
                            ไม่ว่าจะเป็น<br><span> งานประจำ งานพาร์ทไทม์ งานฟรีแลนซ์ </span>หรือ<span>
                                ต้องหาสถานที่ฝึกงาน</span> เป็นต้น
                        </div>
                        <a routerLink="/jobpost/search" class="btn-viewJob">ดูงานต่าง ๆ</a>
                    </div>
                    <div class="col">
                        <div class="img-box rounded-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>