<div *ngIf="statusAdmin">
    <div class="container pt-5">
        <div class="p-3 mt-5">
            <div class="row mb-3">
                <h3><b>จัดการสมาชิก</b></h3>
            </div>
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                ลำดับ
                            </th>
                            <th>
                                ชื่อ - นามสกุล
                            </th>
                            <th>
                                อีเมล
                            </th>
                            <th>
                                เบอร์โทร
                            </th>
                            <th>
                                ประเภท
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of members,let i = index">
                            <th>
                                {{i+1}}
                            </th>
                            <td>
                                <a class="m-0 p-0 text-decoration-none text-info" routerLink="/profile/member/{{m._id}}">
                                    <b class="m-0 p-0" >{{m.firstName}}   {{m.lastName}}</b>
                                </a>
                            </td>
                            <td>
                                {{m.email}}
                            </td>
                            <td>
                                {{m.phoneNumber}}
                            </td>
                            <td>
                                <b class="text-primary" *ngIf="m.category == 'member'">สมาชิก</b>
                                <b class="text-warning" *ngIf="m.category == 'admin'">แอดมิน</b>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger" (click)="deleteMember(m._id)">
                                    ลบ
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-main *ngIf="!statusAdmin"></app-main>