<div class="container content">
    <div class="container my-5">
        <div class="post-content p-4">

            <div class="post-box container mb-5 p-4">
                <div class="row">
                    <div class="col py-2 ps-5">
                        <div class="row">
                            <a class="m-0 p-0 text-decoration-none"
                                routerLink="/profile/company/{{currentPost?.company_id}}">
                                <h4><b class="m-0 p-0">{{currentPost?.companyName}}</b></h4>
                            </a>
                        </div>
                        <div class="row">
                            {{currentPost?.createdAt | date:"dd / MM / yyyy : HH.mm" }}
                        </div>
                    </div>
                    <div class="col-2">
                        <h5 class="text-success text-center" *ngIf="postActive"><b>เปิดรับสมัคร</b></h5>
                        <h5 class="text-danger text-center" *ngIf="!postActive"><b>ปิดรับสมัคร</b></h5>
                        <div class="d-flex justify-content-center" *ngIf="statusEditer">
                            <div class="btn btn-outline-success" (click)="changeStatus()" *ngIf="!postActive">
                                เปิดรับสมัคร
                            </div>
                            <div class="btn btn-outline-danger" (click)="changeStatus()" *ngIf="postActive">
                                ปิดรับสมัคร
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="row">
                            <h3>{{currentPost?.title}}</h3>
                        </div>
                        <div class="row">
                            <p class="m-0">ตั้งแต่วันที่ {{currentPost?.startDate | date:"dd / MM / yyyy " }} ถึง
                                {{currentPost?.endDate | date:"dd / MM / yyyy " }}</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-6">
                        <h5>สาขา/แผนก</h5>
                        <div class="row">
                            <div class="col">
                                {{currentPost?.department}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>ตำแหน่ง</h5>
                        <div class="row">
                            <div class="col">
                                {{currentPost?.position}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <p class="col-6">อายุ : {{currentPost?.ageMin}} - {{currentPost?.ageMax}} </p>
                    <p class="col-6">เงินเดือน : {{currentPost?.salaryMin}} - {{currentPost?.salaryMax}} </p>
                </div>
                <div class="row mb-2">
                    <h5>คำอธิบาย : </h5>
                    <p class="m-0">{{currentPost?.description}}</p>
                </div>

                <div class="row">
                    <div class="col py-2">
                        <div class="btn btn-success w-100" data-bs-toggle="modal" data-bs-target="#apply"
                            *ngIf="statusMember && postActive && !statusApply">สมัคร</div>
                        <div class="w-100 row" *ngIf="statusEditer">
                            <div class="col"></div>
                            <div class="col d-flex justify-content-center">
                                <div class=" btn mx-auto btn-warning" style="width: 40%;"
                                    routerLink="/jobpost/edit/{{currentPost?._id}}">
                                    แก้ไขโพสต์</div>
                                <div class=" btn mx-auto btn-danger" style="width: 40%;" (click)="onDelete()">
                                    ลบโพสต์</div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row" *ngIf="statusEditer">
                    <h3>รายการผู้สมัคร</h3>
                    <mat-tab-group>
                        <mat-tab label="รอยืนยัน">
                            <div class="col-12" id="list">
                                <div style="height: 300px;" class="overflow-scroll">
                                    <div class="row m-0 border-bottom py-2">
                                        <div class="col-2 text-center"><b>วันที่สมัคร</b></div>
                                        <div class="col-3 text-start"><b>ชื่อ - นามสกุล</b></div>
                                        <div class="col-3 text-center"><b>รายละเอียด</b></div>
                                        <div class="col-3 text-center" *ngIf="statusPoster"><b>ยืนยัน</b></div>
                                        <div class="col-1 text-center"><b>ยกเลิก</b></div>
                                    </div>
                                    <div *ngFor="let a of currentPost?.applicants">
                                        <div class="row m-0 border-bottom py-2 align-items-center"
                                            *ngIf="a.regisStatus == 'NotView'">
                                            <div class="col-2 text-center">
                                                <b>{{a.regisDate | date:"dd / MM / yyyy"}}</b>
                                            </div>
                                            <div class="col-3 text-start"><a class="text-decoration-none"
                                                    routerLink="/profile/member/{{a?.member_id}}">{{a?.memberName}}</a>
                                            </div>
                                            <div class="col-3 text-center">
                                                <button class="btn btn-outline-primary" type="button"
                                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                                                    aria-controls="offcanvasScrolling">รายละเอียด</button>
                                                <div class="offcanvas offcanvas-end mt-5" tabindex="-1" id="offcanvasScrolling"
                                                    aria-labelledby="offcanvasRightLabel">
                                                    <div class="offcanvas-header mt-2">
                                                        <h4 id="offcanvasRightLabel"><b>รายละเอียด</b></h4>
                                                        <button type="button" class="btn-close text-reset"
                                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                    </div>
                                                    <div class="offcanvas-body text-start">
                                                        <div class="container">
                                                            <div class="row">
                                                                <h5><b>สาเหตุที่อยากทำงานนี้</b></h5>
                                                                <div class="col py-3">
                                                                    <p>{{a?.description}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <h5><b>เอกสาร</b></h5>
                                                                <div class="col py-3">                                                                    
                                                                    <a target="_blank" href="../../../../assets/files/Portfolio.pdf" class="btn btn-outline-secondary">ดูเอกสาร</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex justify-content-center" *ngIf="statusPoster">
                                                <button class="btn btn-success mx-auto" style="width: 40%;"
                                                    (click)="updateApplicant(a._id,'Pass')">ผ่าน</button>
                                                <button class="btn btn-danger mx-auto" style="width: 40%;"
                                                    (click)="updateApplicant(a._id,'NotPass')">ไม่ผ่าน</button>
                                            </div>
                                            <div class="col-1 d-flex justify-content-center">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="deleteApplicant(a._id)">ยกเลิก</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="ผ่าน">
                            <div class="col-12" id="pass">
                                <div style="height: 300px;" class="overflow-scroll">
                                    <div class="row m-0 border-bottom py-2">
                                        <div class="col-2 text-center"><b>วันที่สมัคร</b></div>
                                        <div class="col-3 text-start"><b>ชื่อ - นามสกุล</b></div>
                                        <div class="col-3 text-center"><b>รายละเอียด</b></div>
                                        <div class="col-3 text-center" *ngIf="statusPoster"><b>ยืนยัน</b></div>
                                        <div class="col-1 text-center"><b>ยกเลิก</b></div>
                                    </div>
                                    <div *ngFor="let a of currentPost?.applicants">
                                        <div class="row m-0 border-bottom py-2 align-items-center"
                                            *ngIf="a.regisStatus == 'Pass'">
                                            <div class="col-2 text-center">
                                                <b>{{a.regisDate | date:"dd / MM / yyyy"}}</b>
                                            </div>
                                            <div class="col-3 text-start"><a class="text-decoration-none"
                                                    routerLink="/profile/member/{{a?.member_id}}">{{a?.memberName}}</a>
                                            </div>
                                            <div class="col-3 text-center">
                                                <button class="btn btn-outline-primary" type="button"
                                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                                                    aria-controls="offcanvasScrolling">รายละเอียด</button>
                                                <div class="offcanvas offcanvas-end mt-5" tabindex="-1" id="offcanvasScrolling"
                                                    aria-labelledby="offcanvasRightLabel">
                                                    <div class="offcanvas-header mt-2">
                                                        <h4 id="offcanvasRightLabel"><b>รายละเอียด</b></h4>
                                                        <button type="button" class="btn-close text-reset"
                                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                    </div>
                                                    <div class="offcanvas-body text-start">
                                                        <div class="container">
                                                            <div class="row">
                                                                <h5><b>สาเหตุที่อยากทำงานนี้</b></h5>
                                                                <div class="col py-3">
                                                                    <p>{{a?.description}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <h5><b>เอกสาร</b></h5>
                                                                <div class="col py-3">                                                                    
                                                                    <a target="_blank" href="../../../../assets/files/Portfolio.pdf" class="btn btn-outline-secondary">ดูเอกสาร</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-3 d-flex justify-content-center" *ngIf="statusPoster">
                                                <button class="btn btn-success mx-auto" style="width: 40%;"
                                                    (click)="updateApplicant(a._id,'Pass')">ผ่าน</button>
                                                <button class="btn btn-outline-danger mx-auto" style="width: 40%;"
                                                    (click)="updateApplicant(a._id,'NotPass')">ไม่ผ่าน</button>
                                            </div>
                                            <div class="col-1 d-flex justify-content-center">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="deleteApplicant(a._id)">ยกเลิก</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="ไม่ผ่าน">
                            <div class="col-12" id="notPass">
                                <div style="height: 300px;" class="overflow-scroll">
                                    <div class="row m-0 border-bottom py-2">
                                        <div class="col-2 text-center"><b>วันที่สมัคร</b></div>
                                        <div class="col-3 text-start"><b>ชื่อ - นามสกุล</b></div>
                                        <div class="col-3 text-center"><b>รายละเอียด</b></div>
                                        <div class="col-3 text-center" *ngIf="statusPoster"><b>ยืนยัน</b></div>
                                        <div class="col-1 text-center"><b>ยกเลิก</b></div>
                                    </div>
                                    <div *ngFor="let a of currentPost?.applicants">
                                        <div class="row m-0 border-bottom py-2 align-items-center"
                                            *ngIf="a.regisStatus == 'NotPass'">
                                            <div class="col-2 text-center">
                                                <b>{{a.regisDate | date:"dd / MM / yyyy"}}</b>
                                            </div>
                                            <div class="col-3 text-start"><a class="text-decoration-none"
                                                    routerLink="/profile/member/{{a?.member_id}}">{{a?.memberName}}</a>
                                            </div>
                                            <div class="col-3 text-center ">
                                                <button class="btn btn-outline-primary" type="button"
                                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                                                    aria-controls="offcanvasScrolling">รายละเอียด</button>
                                                <div class="offcanvas offcanvas-end mt-5" tabindex="-1" id="offcanvasScrolling"
                                                    aria-labelledby="offcanvasRightLabel">
                                                    <div class="offcanvas-header mt-2">
                                                        <h4 id="offcanvasRightLabel"><b>รายละเอียด</b></h4>
                                                        <button type="button" class="btn-close text-reset"
                                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                    </div>
                                                    <div class="offcanvas-body text-start">
                                                        <div class="container">
                                                            <div class="row">
                                                                <h5><b>สาเหตุที่อยากทำงานนี้</b></h5>
                                                                <div class="col py-3">
                                                                    <p>{{a?.description}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <h5><b>เอกสาร</b></h5>
                                                                <div class="col py-3">                                                                    
                                                                    <a target="_blank" href="../../../../assets/files/Portfolio.pdf" class="btn btn-outline-secondary">ดูเอกสาร</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-3 d-flex justify-content-center" *ngIf="statusPoster">
                                                <button class="btn btn-outline-success mx-auto" style="width: 40%;"
                                                    (click)="updateApplicant(a._id,'Pass')">ผ่าน</button>
                                                <button class="btn btn-danger mx-auto" style="width: 40%;"
                                                    (click)="updateApplicant(a._id,'NotPass')">ไม่ผ่าน</button>
                                            </div>
                                            <div class="col-1 d-flex justify-content-center">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    (click)="deleteApplicant(a._id)">ยกเลิก</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </div>

                <div class="row" *ngIf="statusMember && myApply != null">
                    <h3>รายละเอียดการสมัคร</h3>
                    <div class="col-12" id="list">
                        <div class="row m-0 border-bottom py-2">
                            <div class="col-2 text-center"><b>วันที่สมัคร</b></div>
                            <div class="col-3 text-start"><b>ชื่อ - นามสกุล</b></div>
                            <div class="col-3 text-center"><b>รายละเอียด</b></div>
                            <div class="col-3 text-center"><b>สถานะการสมัคร</b></div>
                            <div class="col-1 text-center"><b>ยกเลิก</b></div>
                        </div>
                        <div class="row m-0 border-bottom py-2 align-items-center">
                            <div class="col-2 text-center">
                                <b>{{myApply?.regisDate | date:"dd / MM / yyyy "}}</b>
                            </div>
                            <div class="col-3 text-start"><a class="text-decoration-none"
                                    routerLink="/profile/member/{{myApply?.member_id}}">{{myApply?.memberName}}</a>
                            </div>
                            <div class="col-3 text-center">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                    รายละเอียด
                                </button>

                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                                    aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header">
                                        <h4 id="offcanvasRightLabel"><b>รายละเอียด</b></h4>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="offcanvas-body text-start">
                                        <div class="container">
                                            <div class="row">
                                                <h5><b>สาเหตุที่อยากทำงานนี้</b></h5>
                                                <div class="col py-3">
                                                    <p>{{myApply?.description}}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <h5><b>เอกสาร</b></h5>
                                                <div class="col py-3">                                                                    
                                                    <a target="_blank" href="../../../../assets/files/Portfolio.pdf" class="btn btn-outline-secondary">ดูเอกสาร</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 d-flex justify-content-center">
                                <div class="text-primary" *ngIf="myApply?.regisStatus == 'NotView'"><b>รอยืนยัน</b>
                                </div>
                                <div class="text-success" *ngIf="myApply?.regisStatus == 'Pass'"><b>ผ่าน</b></div>
                                <div class="text-danger" *ngIf="myApply?.regisStatus == 'NotPass'"><b>ไม่ผ่าน</b></div>
                            </div>
                            <div class="col-1 d-flex justify-content-center">
                                <button class="btn btn-outline-secondary" type="button"
                                    (click)="deleteApplicant(myApply?._id)">ยกเลิก</button>
                            </div>
                        </div>
                        <div class="row m-0 text-center border-bottom py-2 align-items-center" *ngIf="myApply.regisStatus != 'NotView'">
                            <div class="text-success" *ngIf="myApply.regisStatus == 'Pass'">
                               <b> *** คุณผ่านการประเมิน รอการติดต่อจากบริษัท ***</b>
                            </div>
                            <div class="text-danger" *ngIf="myApply.regisStatus == 'NotPass'">
                                <b> *** คุณไม่ผ่านการประเมิน ***</b>
                             </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal fade" id="apply" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">สมัคร</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-3">
                        <form [formGroup]="applicantForm" class="p-4">
                            <div class="row mb-3">
                                ขื่อ :
                                <input type="text" class="form-control" formControlName="firstName">
                            </div>
                            <div class="row mb-3">
                                นามสกุล :
                                <input type="text" class="form-control" formControlName="lastName">
                            </div>
                            <div class="row mb-3">
                                สาเหตุที่อยากทำงานนี้ ? :
                                <textarea class="form-control" rows="3" formControlName="description"></textarea>
                            </div>

                            <div class="row mb-3">
                                แนบเอกสาร ( resume , portfolio ) :
                                <input type="file" name="" class="form-control" id="">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="button" class="btn btn-success" (click)="onApply()">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>