<div class="container content">
    <div class="container my-5">
        <form action="" class="d-flex justify-content-center">
            <div class="row search-box">
                <div class="col-10">
                    <input type="text" class="form-control w-100" placeholder="ค้าหางาน">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary w-100">ค้นหา</button>
                </div>
            </div>
        </form>
    </div>
    <div class="container my-5">
        <div class="post-content p-4">

            <div class="post-box container mb-5 p-4">
                <div class="row">
                    <div class="col-2 px-auto">
                        <div class="img-box border rounded-circle">
                            <img src="../../../../assets/images/NullProfile.png" alt="">
                        </div>
                    </div>
                    <div class="col py-2">
                        <div class="row">
                            <a class="m-0 p-0" href="">Username</a>
                        </div>
                        <div class="row">
                            01/01/2022 : 09.00
                        </div>
                    </div>
                    <div class="col-2 py-2">
                        <div routerLink="/jobpost/detail" class="btn btn-warning">ดูเพิ่มเติม</div>
                    </div>
                </div>
                <hr>
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="row">
                            <h3>หัวข้อ</h3>
                        </div>
                        <div class="row">
                            <p class="m-0">ตั้งแต่วันที่ 01/01/2022 ถึง 02/01/2022</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6">
                        <h5>สาขา/แผนก</h5>
                        <div class="row">
                            <div class="col-1">
                                Tag1
                            </div>
                            <div class="col-1">
                                Tag2
                            </div>
                            <div class="col-1">
                                Tag3
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h5>ตำแหน่ง</h5>
                        <div class="row">
                            <div class="col-1">
                                Tag1
                            </div>
                            <div class="col-1">
                                Tag2
                            </div>
                            <div class="col-1">
                                Tag3
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <p class="col-6">อายุ : 18 - 20 </p>
                    <p class="col-6">เงินเดือน : 100 - 1000 </p>
                </div>
            </div>
            
        </div>
    </div>
</div>