<div class="container-fluid profile p-0">
    <div class="banner">
        <div class="banner-line"></div>
        <div class="container banner-content ">
            <div class="info-group d-flex align-items-end">
                <div class="img-box border">
                    <img src="../../../../assets/images/NullProfile.png" alt="">
                </div>
                <h2 class="info-name">Username</h2>

            </div>
        </div>
    </div>
    <div class="porfile-body container my-4 p-3">
        <div class="container info-contact my-5 p-3 border">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title">ข้อมูลติดต่อ</h2>
                </div>
                <hr>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <b>อีเมล : </b>test@gmail.com
                </div>
                <div class="col-6">
                    <b>เบอร์โทร : </b>0940000001
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12 mb-3">
                    <b>ที่อยู่ : </b> 192/168 หมู่ 1 ถนน 101
                    <b>เขต/อำเภอ : </b>พุธมณฑล
                    <b>แขวง/ตำบล : </b>ศาลายา
                </div>
                <div class="col-12 mb-3">
                    <b>จังหวัด : </b>นครปฐม
                    <b>ประเทศ : </b>ไทย
                    <b>รหัสไปรษณีย์ : </b>10150
                </div>
            </div>
        </div>

        <div class="container info-education my-5 p-3 border">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="title">ข้อมูลการศึกษา</h2>
                </div>
                <hr>
            </div>
            <div class="row">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                aria-controls="panelsStayOpen-collapseOne">
                                <b>ชื่อวิทยาลัย 1</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                            aria-labelledby="panelsStayOpen-headingOne">
                            <div class="accordion-body">
                                <p><b>วุฒิการศึกษา : </b> ปวส.</p>
                                <p><b>สาขา : </b> เทคโนโลยีสารสนเทศ</p>
                                <p><b>เกรดเฉลี่ย : </b> 3.5</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                aria-controls="panelsStayOpen-collapseTwo">
                                <b>ชื่อวิทยาลัย 2</b>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-headingTwo">
                            <div class="accordion-body">
                                <p><b>วุฒิการศึกษา : </b> ปวส.</p>
                                <p><b>สาขา : </b> เทคโนโลยีสารสนเทศ</p>
                                <p><b>เกรดเฉลี่ย : </b> 3.5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>